body { 
background-color: #fabbd8;
}
h1.head {
font-family: Brush Script MT;
font-weight: normal;
text-align: center;
font-size: 64px;
}
img.gif {
width: 150px;
height: 150px;
display: block;
margin-left: auto;
margin-right: auto;
}
p.question {
text-align: center;
font-family: Georgia;
font-size: 24px;
}
.button {
  list-style-type: none;
  margin: 0;
  padding: 50;
  overflow: hidden;
}

.button .option {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  background-color: #f533bb;
  border-radius: 30px;
}

.button .option .yesno {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 22px;
  text-decoration: none;
  transition: 0.3s;
}

.button .option .yesno:hover {
  background-color: #ed6fc7;
  border-radius: 30px;
  transform: scale(1.08);
  
}
h1.flowers {
font-family: Times New Roman;
font-weight: normal;
text-align: center;
font-size: 36px;
}
img.foru {
width: 250px;
height: 250px;
display: block;
margin-left: auto;
margin-right: auto;
transition: 0.3s;
}
img.foru:hover {
transform: scale(1.25);
}
.proceed {
  list-style-type: none;
  margin: 0;
  padding: 50;
  overflow: hidden;
}

.proceed .next {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  background-color: #f533bb;
  border-radius: 30px;
}

.proceed .next .li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
}

.proceed .next .li:hover {
  background-color: #ed6fc7;
  border-radius: 30px;
  transform: scale(1.08);
}
h1.card {
font-family: Courier;
font-weight: normal;
text-align: center;
font-size: 24px;
}
body.paper { 
background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDI1LTAzL3Jhd3BpeGVsb2ZmaWNlMV9waG90b19wYXN0ZWxfcGlua193YXRlcmNvbG9yX3BhcGVyX3RleHR1cmVfc21vb18yZWE2MWVlYi04OTkzLTQwNzYtYWI0MC02NjhkMTYwYzI2NjJfMS5qcGc.jpg");
}
.words {
font-family: cursive;
font-weight: normal;
text-align: justify;
font-size: 18px;
}
img.kiss {
width: 250px;
height: 250px;
display: block;
margin-left: auto;
margin-right: auto;
transition: 0.3s;
}
img.kiss:hover {
transform: scale(1.25);
}
h1.please {
font-family: Times New Roman;
font-weight: normal;
text-align: center;
font-size: 28px;
}
